version: "3.9"

services:
  fastapi-api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      postgres-db:
        condition: service_started
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:newpassword@postgres-db:5432/books
      JWT_SECRET: dev-secret
      JWT_ALGORITHM: HS256
      REDIS_HOST: redis
      REDIS_PORT: "6379"

  postgres-db:
    image: postgres:15
    environment:
      POSTGRES_DB: books
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: newpassword
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres-db

volumes:
  pgdata:
