services:
  fastapi-api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      postgres-db:
        condition: service_started
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:12345@postgres-db:5432/bookly_db
      JWT_SECRET: dev-secret
      JWT_ALGORITHM: HS256
      REDIS_HOST: redis
      REDIS_PORT: "6379"

  postgres-db:
    image: postgres:15
    environment:
      POSTGRES_DB: bookly_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "12345"
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
